@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line:  hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --font-primary: 'Outfit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body {
    background-color: var(--main-BG);
    font-size: 18px;
    font-family: var(--font-primary);
    width: 100vw;
    height: 100vh;
}

main {
    max-width: 415px;
    background-color: var(--card-BG);
    margin: 1rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    box-shadow: 1px 1px 13px 1px var(--Soft-blue);
    transition: 0.5s ease;
}

p {
    color: var(--Soft-blue);
}

hr {
    color: var(--Soft-blue);
    margin: 1rem 0;
    height: 0.3px;
    opacity: 0.5;
}


.cubo > img {
    width: 100%;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
    display: block;
}


.text h1 {
    color: var(--White);
    font-weight: 600;
    margin-bottom: 1rem;
}

.text h1:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.etheriun {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.etheriun-value, .etheriun-time {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 0.5rem;
    margin: 1.5rem 0;
}
.etheriun-value p {
    color: var(--Cyan);
    font-weight: 600;
}

.creator {
    display: flex;
    align-items: center;
}
.creator img {
    width: 30px;
    border-radius: 50%;
    border: 0.5px solid var(--White);
    float: left;
    margin-right: 1rem;
}

.creator span {
    color: var(--White);
}
.creator span:hover {
    cursor: pointer;
    color: var(--Cyan);
}

@media screen and (min-width:600px) {
    main {
        max-width: 450px;
        margin: 2rem auto;
    }
}