@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600&display=swap');

:root {
    --bg-color: hsl(210, 46%, 95%);
    --color-01: hsl(263, 55%, 52%);
    --color-02: hsl(217, 19%, 35%);
    --color-03: hsl(219, 29%, 14%);
    --color-04: hsla(0, 0%, 81%, 0.822);
    --color-05: hsl(210, 46%, 95%);
    --font-primary:'Barlow Semi Condensed', sans-serif;
}


body {
    font-size: 11px;
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    width: 400px;
    margin: auto;
}

main article {
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: 370px;
}

main article img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

main article h2 {
    line-height: 1.5rem;
    font-size: 2.1em;
    padding: 1.5rem 0;
    font-weight: 600;
}

main article p {
    color: var(--color-04);
    font-size: 1.5em;
    text-align: left;
    font-weight: 200;
}

main .profile {
    display: flex;
    flex-direction: row;
    text-align: center;
}

main article .profile > p {
    padding-left: 1rem;
    font-size: 1.4em;
    font-weight: 100;
}

main article strong {
    color: white;
}

main article.art-01 {
    background-color: var(--color-01);
    background-image: url(images/bg-pattern-quotation.svg);
    background-position: right 3vw top 1vw;
    background-repeat: no-repeat;
}

main article.art-01 h2 {
    color: white;
    font-weight: bold;
}

main article.art-02 {
    background-color: var(--color-02);
}

main article.art-02 > h2 {
    color: rgba(255, 255, 255, 0.822);
}

main article.art-03,.art-05 {
    background-color: white;
}

main article.art-03,.art-05 > h2 {
    color: var(--color-02);
}

main article.art-03,.art-05 > p {
    line-height: 1.2rem;
}

main .woman {
    color: var(--color-02);
    font-weight: 600;
}

main article.art-04 {
    background-color: var(--color-03);
    
}

main article.art-04 > h2 {
    color: white;
}