@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (min-width:768px) {
    main {
        height: 500px;
        width: 800px;
        display: flex;
        flex-direction: row;
    }

    main .perfume-desktop {
        display: block;
        width: 50%;
        height: 100%;
        border-radius: 1rem 0rem 0rem 1rem;
    }

    main .perfume{
        display: none ;
    }

    main article {
        width: 50%;
        height: 100%;

    }


}   
