@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
/*font-family: 'Fraunces', serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color:  hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 415px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 1rem;

}

main .perfume {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;

}

main .perfume-escrito {
    color: hsl(228, 12%, 48%);

}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem;
}

main article .info-escrita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

main article  h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
}

main article p {
    color: hsl(228, 12%, 48%);
    text-align: justify;
}

main article .info-numerico {
    display: flex;
    align-items: center;
    justify-content: initial;
    gap: 2rem;
    padding:2rem 0rem;
    
}

main article .valor01 {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Fraunces';
    
}

main article .valor02 {
    color: hsl(228, 12%, 48%);
    
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Fraunces';
    font-weight: 500;
    border-radius: 1rem;
    border: none;
    padding: 1.5rem;
    
}

.perfume-desktop {
    display: none;
}