@media screen and (min-width:998px) {
    

    header {
        width: 80vw;
        margin: auto;
        background-color:white;

    }
    
    main {
        width: 80vw;
        margin: auto;

    }

    main section.first {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        background-color: aquamarine;
    }

    main section.first > paragraph-01 {
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .start {
        max-width: 150px;
        float: right;
    }
}