@media screen and (min-width:768px) {
    .ilustration {
        width: 600px;
    }
}

@media screen and (min-width:992px) {
    .fisrt-art {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
    }

    .inputs {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    
    .inputs input[type=email] {
        min-width: 60%;
    }
    .inputs input[type=submit] {
        min-width: 40%;
    }

    .second-art {
        display: flex;
    }

    .extra {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .access {
        width: 40%;
    }

    .extra .inputs-2 {
        width: 50%;
    }

    .ilustration {
        width: 60%;
    }
}