@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

:root {
    --font-01: 'Raleway', sans-serif;
    --font-02: 'Open Sans', sans-serif;

    --Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
}

body {
    font-family: var(--font-02);
    font-weight: 400;
    background-color: var(--Light-Grayish-Blue);
}



header {
    width: 100vw;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 1rem;
}

header img {
    width: 100px;
}

header nav a{
    padding-left: 1rem;
    text-decoration: none;
    color: var(--Desaturated-Blue);
    font-family: var(--font-01);
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0 2rem;
}

main section.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main section.first > h1 {
    color:var(--Dark-Blue);
    text-align: center;
}

main section.first > p {
    text-align: center;
    color: var(--Dark-Blue);
    padding:  1rem;
}

main section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    background-image: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;

}

main section.second > h2{
    color: var(--Dark-Blue);
    font-size: 18px;

}

main section.second > p {
    text-align: justify;
    color: var(--Desaturated-Blue);
    padding: 1rem 0;
    font-size: 1.1em;
}

main section.second > a {
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    padding-bottom: 10px;
    border-bottom: 2px solid ;
}

main section.second > aside {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    padding: 1rem;
    margin: 2rem 0 4rem 0;
    min-width: 300px;
    text-align: left;
    color: var(--Dark-Blue);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px 1px var(--Light-Gray);
}

main section.second > aside .profile img {
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

main section.second > aside img {
    width: 20px;
}

main section.second > aside .profile {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

main section.third {
    background-color: var(--Desaturated-Blue);
    color: white;
    width: 100vw;
    padding: 2rem;
    text-align: center;
}

main section.third > h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 2rem 0 3rem 0;
    
}

main section.third > p {
    color:var(--Light-Grayish-Blue);
    font-size:1.2em;
    padding-bottom: 1rem;
}
input {
    width: 300px;
    height: 2rem;
    margin: 1rem ;
    border-radius: 0.2rem;
    border: 1px solid gray;
    box-shadow: 0px 0px 1px 0px var(--Desaturated-Blue);
}

input::placeholder {
    padding-left: 1rem;
    color: var(--Light-Gray);
}

button {
    width:300px;
    height: 2rem;
    color: white;
    background-color: var(--Bright-Blue);
    border-radius: 0.2rem;
    border: none;
    font-weight: bolder;
    box-shadow: 1px 1px 5px 1px var(--Desaturated-Blue);
}

footer {
    color:white;
    background-color: var(--Dark-Blue);
}

footer img {
    filter: brightness(100);
    width: 100px;
}


.ilustration {
    width: 300px;
    display: block;
    margin: auto;
    padding: 3rem 0;
}