@media screen and (min-width:768px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        align-items: left;
        justify-content: center;
        max-width: 1000px;
        height:420px;
        transition: all 0.4s ease;
        margin-top: 15rem;
    }

    main section.img-top {
        height: 100%;
    }
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
        height: 100%;
        max-width: 500px;
        border-radius: 0 0.6rem 0.6rem 0 ;
    }

    main section.center {
        min-width: 480px;
        margin: 1rem 2rem;
    }

    main section.center .c-t-q {
        display:flex ;
        flex-direction: row;
    }
}