@media screen and (min-width:998px) and (max-width:1980px){
    body {
        font-size: 14px;
    }
    main {
        width: 80vw;
        display: flex;
        flex-direction: column;
        transition: all 1s ease-in-out;
    }

    main section {
        width: 800px;
        margin: auto;
    }

    main section.first {
        margin-bottom: 8rem;
    }

    main section.third {
        margin-top: 4rem;
        margin-bottom: 4rem;
        
    }

    .tools-group {
        display: flex;
    }

    main section.fourth > aside {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
    }

    footer {
        display: flex;
        flex-direction: row;
    }

    footer a {
        display: inline-block;
        text-align: center;
    }

   .social-medias > img {
    width: 15px;
   }
    button {
        width: 200px;
    }

    #logo {
        float: left;
        transform: translatex(-50px);
    }
 