@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width:768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 415px;
        height: 100vh;
        
    }

    main article {
        min-width: 300px;
        max-width: 415px;
    }

    main article.article-01 {
        border-radius: 1rem 0rem 0rem 1rem;
    }

    main article.article-03 {
        border-radius: 0 1rem 1rem 0;
    }
}